<!--
  Authors : bunchdevelopers (Rahul Jograna)
  Website : https://bunchdevelopers.com/
  App Name : ionic6Template Pack
  This App Template Source code is licensed as per the
  terms found in the Website https://bunchdevelopers.com/license
  Copyright and Good Faith Purchasers © 2021-present bunchdevelopers.
 -->
<ion-header mode="md" class="ion-no-border">
    <ion-toolbar>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main_content_div">

        <img src="assets/imgs/logo2.png" class="logo2_img">

        <ion-label class="title_lbl">ÚNETE A LA COMUNIDAD DE OTT PLAYER</ion-label>

        <ion-label class="grey_lbl">EL MEJOR LUGAR PARA VER TODOS TUS CANALES FAVORITOS</ion-label>

        <ion-input type="text" placeholder="Nombre de Usuario"></ion-input>
        <ion-input type="text" placeholder="Contraseña"></ion-input>
        <ion-label class="forgot" (click)="goToForgot()">¿Olvidó su contraseña?</ion-label>

        <ion-button expand="block" mode="ios" class="block_btn" (click)="goToTabs()">
            Iniciar sesión
        </ion-button>
        <ion-button expand="block" mode="ios" class="block_btn blue_btn">
            Iniciar sesión con facebook
        </ion-button>
    </div>
</ion-content>
<ion-footer>
    <div class="footer_div">
        <ion-label>¿No tienes cuenta todavía? <span>Regístrate</span></ion-label>
    </div>
</ion-footer>
